body {
    background-color: rgba(30, 229, 255, 0.705);
}

ul {
    list-style-type: none;
    margin-right: 55px;
    padding: 0;
  }

  li {
    display: inline;
    float: right;
  }

  a {
    display: block;
    padding: 8px;
    text-decoration: none;
    font-family: Cambria;
    font-size: 22px;
    color: darkorange;
  }

h1 {
    font-family: Cambria;
    font-size: 62px;
    text-align: center;
    color:darkorange;
   text-shadow: 3px 5px rgba(0, 0, 0, 0.61);
}

h2 {
    font-family: Cambria;
    font-size: 25px;
    text-align: center;
}

h3 {
    font-family: Cambria;
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px rgb(255, 140, 0);
}

.card {
    box-shadow: 3px, 5px black;
    border-style: ridge;
    border-width: 3px;
    border-color: black;
    text-align: center;
    width: 40%;
    margin: auto;
    background-color: ghostwhite;

}

img {
    width: 80%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.432);
}

.container {
    padding-bottom: 15px;

}

.cards {
    display: flex;
   
}

#park {
    flex: left;
}

#lake {
    flex: right;
}

footer {
    margin: 20px 20px 20px 20px; 
    display: inline;
    text-align: center;
    font-family: Cambria;
    font-size: 50px;
    font-weight: bold;
}
