/* media quer for blog post */
@media screen and (max-width: 800px) {
    #parks {
        width: 100%;
        display:block;
        overflow: hidden;
        margin: 0 auto;
    }

    .card {
        width: 95%;
       margin: 3vw;
    }

    p {
        padding-left: 10px;
        padding-right: 5px;
        padding-bottom: 10px;

    }

   footer {
       margin-left: 12%;
     
   }
}


/* media query for blog home */
@media screen and (max-width: 414px) {
    .why{
        width:100%;
        overflow-x: hidden;
        }

        a {
            display: block;
            margin-left: 10px;
            padding: 8px;
            text-decoration: none;
            font-family: Cambria;
            font-size: 18px;
            color: darkorange;
          }

    h1 {
        font-size: 40px;
        width: 92%;
        margin-left: 15px;
     
    }

    h2 {
        font-size: 28px;
        width: 90%;
        margin-left: 15px;
       
    }

    h3 {
        font-size: 24px;
        
    }

    .cards {
        width: 98%;
        display: block;
        overflow: hidden;
        margin: 0 auto;
    }

    .card {
        width: 90%;
       margin: 3vw;

    }

    img {
        width: 85%;
    }

    footer {
        font-size: 18px;
        width: 99%;
        margin: auto;
    }
    
}

/* media query for blog post */
@media screen and (max-width: 414px) {

 #parks {
    width: 100%;
    display: block;
    overflow: hidden;
    margin: 0 auto;
 }

 p {
     padding-bottom: 10px;
 }

 #nature {
    height: 150%;
 }
.bio {
    width: 92.5%;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

footer {
   margin-left: -8%;
}


}

    
/* media quer for blog post */
@media screen and (max-width: 768px) {
    #parks {
        width: 100%;
        display:block;
        overflow: hidden;
        margin: 0 auto;
    }

    .card {
        width: 95%;
       margin: 3vw;
    }

    p {
        padding-left: 10px;
        padding-right: 5px;
        padding-bottom: 10px;

    }

   /* footer {
       margin-left: 12%;
     
   } */
}
