body {
    background-color: rgba(30, 229, 255, 0.705);
}

h1 {
    font-family: Cambria;
    font-size: 62px;
    text-align: center;
    color:darkorange;
    text-shadow: 5px, 8px rgba(0, 0, 0, 0.863);
}

blockquote {
    font-family: Cambria;
    font-size: 24px;
    text-align: center;
    color:darkorange;
    text-shadow: 3px, 5px rgba(0, 0, 0, 0.863);
}

h2 {
    font-family: Cambria;
    font-size: 25px;
    text-align: center;
}


.button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .button:hover {opacity: 1}

h3 {
    font-family: Cambria;
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
}

#parks {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    margin-left: 30px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 375px;
    margin-top: 50px;
    background-color: ghostwhite;
}

 #nature {
    width: 100%;
    object-fit: cover;
    height: 15vw; 
} 

figure {
    margin: auto;
    max-width: 100%;
    object-fit: cover; 
    height: 15vw;
}


figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

p {
    padding-left: 10px;
    padding-right: 10px;
}

.bio {
    background-color: ghostwhite;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 50px;
    margin-left: 28px;
    margin-right: 28px;
    display: flex;
}

.me {
    flex: left;
}

#ash {
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: gold;
    border-style: ridge;
    border-width: 5px;
    margin-top: 3px;
    margin-left: 3px;
}

.myself {
    flex: right;
    text-align: center;
}


footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: Cambria;
    font-size: 20px;

}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

